@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Ubuntu&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --swampy: rgb(80,100,0);
  --swampyDark: rgb(20,25,20);
  --mobileWidth: min(85vw, 350px);
}

#introDiv {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}
  
#introImg {
  position: absolute;
  height: 100vh;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#introStuff {
  background: rgba(0,0,0, 0.7);
  background: radial-gradient(circle, rgba(0,0,0, 0.7) 0%, rgba(0,0,0,0.8) 80%, rgba(0,0,0, 0.9) 100%);
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#introStuff div {
  top: 50vh;
  left: 50vw;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

#introStuff h1 {
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 65px;
  font-family: 'Patua One', serif;
}

#introStuff button {
  display: block;
  background: var(--swampy);
  padding: 15px 60px;
  color: white;
  border: none;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 10px black, inset 0 0 20px rgb(48,60,0);
  font-size: 18px;
}

#mainPage {
  top: 100vh;
  left: 0;
  position: absolute;
}

#content, #contentTwo {
  width: calc(100vw - (100vw - 69.44vw));
  min-height: 50vw;
  padding: 8.6vw 0 4.16vw 0;
  padding-left: calc((100vw - 69.44vw) / 2);
}

#contentTwo {
  background: var(--swampyDark);
  color: white;
  width: 100vw;
  margin: none;
  padding: 0 0 14vw 0;
}

img {
  background: rgb(130,130,130);
}

#content > div {
  height: 20.83vw;
  width: 69.44vw;
  position: relative;
  margin-right: 0;
  display: inline-block;
}

#content > div:not(:last-child) {
  margin-bottom: 11.8vw;
}

.contentLeft img {
  left: 0;
}

.contentRight img {
  right: 0;
}

#content > div img {
  border-radius: 1.05vw;
  height: 20.83vw;
  width: 34.72vw;
  top: 0;
  position: absolute;
  box-shadow: 0 1vw 2vw 0.5vw rgb(222,222,222);
}

.contentLeft p {
  right: 0;
  text-align: left;
}

.contentRight p {
  left: 0;
  text-align: right;
}

#content > div p {
  top: 0;
  position: absolute;
  font-size: 1.5vw;
  margin: 0;
  width: 30.21vw;
  z-index: 4;
}

.contentHeader {
  font-size: 2.77vw;
  display: block;
  margin-bottom: 1.38vw;
  font-family: 'Patua One', serif;
}

a.button {
  bottom: 0;
  position: absolute;
  text-decoration: none;
  color: white;
  background: var(--swampy);
  padding: 1.05vw 4.16vw;
  border-radius: 0.69vw;
  font-size: 1.7vw;
}

.contentLeft a.button {
  left: 38.88vw;
}

.contentRight a.button {
  right: 38.88vw;
}

.imageOverlay {
  background: none;
}

#movieList {
  display: flex;
  flex-flow: row wrap;
  gap: 8vw 5vw;
  margin-left: 15vw;
  width: 70vw;
  justify-content: space-between;
}

.movie {
  width: 18.33vw;
  height: 16.36vw;
  top: 4vw;
  position: relative;
}

.movie img {
  height: 16.36vw;
  width: 11.45vw;
  box-shadow: 0 1vw 2vw 0.5vw rgb(8,10,8);
}

.movie p {
  position: absolute;
  top: 0;
  left: 12.45vw;
  font-size: 1.5vw;
  width: 6vw;
  margin: 0;
}

.movie p span {
  font-size: 1vw;
  color: rgb(200,200,200);
  display: block;
  margin-top: 0.5vw;
}

.movie a {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 5.88vw;
  background: var(--swampy);
  padding: 0.8vw 0;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.25vw;
  border-radius: 1vw;
}

#contentTwo h1 {
  margin: 5vw 0 11vw 15vw;
  font-size: 4vw;
  position: relative;
  top: 8vw;
  font-family: 'Patua One', serif;
  font-weight: normal;
}

/* MOVIES BREAKPOINT AT 750 */

@media only screen and (max-width: 650px) {
  #content > div {
    width: var(--mobileWidth);
    height: calc((var(--mobileWidth) * (3/5)) + 40px + 20px + 14px + 15px);
  }
  
  #content {
    padding-left: calc((100vw - var(--mobileWidth)) / 2);
  }
  
  #content > div img {
    width: var(--mobileWidth);
    height: calc(var(--mobileWidth) * (3/5));
    top: 40px;
    left: 0;
    position: absolute;
    box-shadow: none;
  }
  
  #content > div p {
    top: 0;
    left: 15px;
    position: absolute;
    font-size: 14px;
    margin: 0;
    width: calc(var(--mobileWidth) / 2);
    color: white;
    text-shadow: 0 1px 0 black;
  }
  
  .contentRight > p {
    left: unset !important;
    right: 15px;
  }
  
  .contentHeader {
    font-size: 25px;
    margin-bottom: 25px;
    position: relative;
    right: 15px;
    color: black;
    text-shadow: none;
    white-space: nowrap;
    width: var(--mobileWidth);
  }
  
  .contentRight .contentHeader {
    right: unset;
    left: calc(-0.5 * var(--mobileWidth) + 15px);
  }
  
  a.button {
    bottom: 0;
    left: 0 !important;
    right: unset;
    width: var(--mobileWidth);
    position: absolute;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
  }
  
  .imageOverlay {
    width: var(--mobileWidth);
    height: calc(var(--mobileWidth) * (3/5));
    position: relative;
    top: 40px;
    z-index: 3;
  }
  
  .contentLeft .imageOverlay {
    background: linear-gradient(90deg, rgba(0,0,0, 0.8) 0%, rgba(0,0,0,0.5) 45%, transparent 75%);
  }
  
  .contentRight .imageOverlay {
    background: linear-gradient(270deg, rgba(0,0,0, 0.8) 0%, rgba(0,0,0,0.5) 45%, transparent 75%);
  }
}
