#headerImg {
  top: 0; 
  left: 0;
  position: absolute;
  width: 100%;
  height: 15vh;
}

#headerText {
  top: 7.5vh;
  left: 50vw;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 9vh;
  text-align: center;
  width: 90vw;
}

p {
  position: absolute;
  top: calc(15vh + 5vw);
  left: 50vw;
  transform: translate(-50%, 0);
  width: 66vw;
  font-size: 1.25vw;
}
